@use "./abstracts/variables" as *;
@use "./base/reset";
@use "./components/headings";
@use "./components/buttons";
@use "./components/inputs";
@use "./pages/calculator";

body {
  background: $gradient-metal;
  color: $white;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.overflow-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
