@use "../abstracts/variables" as *;

main {
  padding: 6.25rem;
}

.calculator-page-content {
  display: flex;
  gap: 6.25rem;
  max-width: 67.5rem;
  margin: 0 auto;
}

.description-section {
  flex: 660;
  font-size: 1.125rem;
  line-height: 1.875rem;

  &__head-block {
    margin-bottom: 2.5rem;

    .accent {
      color: $accent;
    }
  }

  &__content-block {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.25rem;

    &-text {
      flex: 19;
    }

    &-image {
      flex: 12;

      img {
        width: 100%;
        max-width: 15rem;
      }
    }
  }
  &__list-block,
  ul {
    list-style: none;
    padding-left: 0.25rem;

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 0.625rem;

      &:not(.multi-level)::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 0.25rem;
        background: $gradient-accent;
      }

      &.multi-level li::before {
        background: $gradient-metal-light;
      }
    }
  }
}

.calculator {
  flex: 320;
  min-width: 0;
  background: $white;
  color: $metal-dark;
  padding-block: 5rem;
  clip-path: polygon(
    $polygon-side 0%,
    calc(100% - $polygon-side) 0%,
    100% $polygon-side,
    100% calc(100% - $polygon-side),
    calc(100% - $polygon-side) 100%,
    $polygon-side 100%,
    0% calc(100% - $polygon-side),
    0% $polygon-side
  );

  h4 {
    padding-inline: 1.25rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    padding-inline: 1.25rem;
  }

  &__results {
    margin-top: 1.25rem;
    border-top: 1px solid $metal-light;
    border-bottom: 1px solid $metal-light;

    &-inner {
      display: flex;
      gap: 1.25rem;
      justify-content: space-between;
      padding: 1.25rem;
    }
  }

  .compensation {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    text-align: center;

    &__label,
    &__days {
      font-size: 0.875rem;
      line-height: 0.9375rem;
    }

    &__days {
      margin-bottom: 0.625rem;
    }

    &__days,
    &__value {
      font-weight: 700;
    }

    &__value {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    &__allowance-label,
    &__allowance-value {
      font-size: 0.75rem;
      color: $metal-middle;
      line-height: 0.9375rem;
    }
  }

  &__total {
    text-align: center;
    padding: 1.25rem 1.25rem 0;

    &-label {
      font-size: 0.875rem;
      line-height: 0.9375rem;
      margin-bottom: 0.3125rem;
    }

    &-compensation {
      font-size: 1.5rem;
      line-height: 1.875rem;
      font-weight: 700;
    }
  }
}

@media (max-width: $max-width-xl) {
  main {
    padding: 4rem;
  }

  .calculator-page-content {
    gap: 2.5rem;
  }
}

@media (max-width: $max-width-l) {
  .calculator-page-content {
    flex-direction: column;
  }

  .description-section {
    &__content-block {
      flex-direction: column;
      gap: 1.25rem;

      &-text,
      &-image {
        flex: 1;
      }
    }
  }
}

@media (max-width: $max-width-md) {
  main {
    padding-inline: 2.5rem;
  }

  .description-section {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@media (max-width: $max-width-sm) {
  main {
    padding-inline: calc(0.5rem + 3vw);
  }
}
